* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}

button {
  font-size: 18px;
  width: 100px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 35%;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}

.collapse-container {
  width: 100%;
  overflow: hidden;
  background-color: white;
  padding: 30px;
}

.collapse-btn {
  background-color: rgb(25, 118, 210);
  transition: color 0.5s ease-out;
  box-sizing: content-box;
}

.collapse-btn:hover {
  background-color: rgb(21, 101, 192);
}

.collapse-btn:active {
  background-color: rgb(21, 101, 192);
  box-shadow: 0 0 0 3px rgb(144, 202, 249);
}

.text-container {
  opacity: 0;
  height: 0;
  transition: all 0.6s ease;
  visibility: collapse;
}

.text-container.active {
  visibility: visible;
  opacity: 1;
  height: 140px;
  margin-top: 20px;
}

.collapse-text {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  color: rgb(68, 68, 68);
  line-height: 1.3;
}
